{% extends "home/base.html" %}

{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static crispy_forms_tags widget_tweaks %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "MENU_MEMBERS" %}</h3>
        <div class="separator"></div>
        {% if form.errors and not form.non_field_errors %}
        <p class="form_errors">
            {% if form.errors.items|length == 1 %}
            {% trans "Please correct the error below." %}
            {% else %}
            {% trans "Please correct the errors below." %}
            {% endif %}
        </p>
        {% endif %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <p class="form_errors">
            {{ error }}
        </p>
        {% endfor %} {% endif %}

        {% if user.is_authenticated %}
        <p class="form_errors">
            {% blocktrans trimmed %} You are authenticated as {{ user }}, but are not authorized to access this
            page. Would you like
            to login to a different account? {% endblocktrans %}
        </p>
        {% endif %}

        <form
            role="form"
            class="form-validate well"
            action="{{ app_path }}"
            method="post"
            id="login-form"
            novalidate
        >
            {% csrf_token %}
            {% for fld in form %}
            <p>
                {% if fld.name == 'otp_auth' %}
                {{ fld|attr:"autocomplete:off"|as_crispy_field }}
                {% else %}
                {{ fld|as_crispy_field }}
                {% endif %}
            </p>
            {% endfor %}

            <div class="password-reset-link">
                <p>{% trans "Forgot your password?" %} <a href="{% url 'members:password_reset' %}">{% trans "Reset it" %}</a>.</p>
                <p>{% trans "Not a member?" %} <a href="{% url 'members:registration_register' %}">{% trans "Register" %}</a>.</p>
            </div>
            <button type="submit">{% trans 'Log in' %}</button>
        </form>

    </div>
</section>
{% endblock %}
