{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Account Activated" %}</h3>
        <div class="separator"></div>
        <p>
            {% trans "Your account is now activated." %}
            {% if not user.is_authenticated %}
            {% trans "Once a site administrator activates your account you can login." %}
            {% endif %}
        </p>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
