{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n %}

{% block title %}{% trans "Approval Failure" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Approval Failure" %}</h3>
        <div class="separator"></div>
        <p>
            {% trans "Account Approval failed." %}
            {% trans "Back to " %}<a href="{% url 'home:index' %}">{% trans "MENU_HOME" %}</a>
        </p>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/admin_approve.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
