{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block title %}{% trans "Log out" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Log out" %}</h3>
        <div class="separator"></div>
        <p>
            {% trans "LOGOUT_TEXT" %}
            <a href="{% url 'home:index' %}">{% trans "MENU_HOME" %}</a>
        </p>
    </div>
</section>
{% endblock %}
