{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Change password" %}</h3>
        <div class="separator"></div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li
                class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}form_errors{% else %}form_messages{% endif %}">
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-dark" type="submit">{% trans 'Change password' %}</button>
        </form>
    </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
