{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Confirm password reset" %}</h3>
        <div class="separator"></div>
        {% if validlink %}
        <p>{% trans "Enter your new password below to reset your password:" %}</p>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li
                class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}form_errors{% else %}form_messages{% endif %}">
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-dark" type="submit">{% trans 'Set password' %}</button>
        </form>
        {% else %}
        Password reset unsuccessful. Please <a href="{% url 'members:password_reset' %}">try again.</a>
        {% endif %}
    </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
