{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Activation email sent" %}</h3>
        <div class="separator"></div>
        <p>
            {% trans "Please check your email to complete the registration process." %}
            {% trans "Back to " %}<a href="{% url 'home:index' %}">{% trans "MENU_HOME" %}</a>
        </p>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
