{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Resend Activation Email" %}</h3>
        <div class="separator"></div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li
                class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}form_errors{% else %}form_messages{% endif %}">
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-dark" type="submit">{% trans 'Submit' %}</button>
        </form>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
