{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "Account Activation Resent" %}</h3>
        <div class="separator"></div>
        <p>
            {% blocktrans %}
            We have sent an email to {{ email }} with further instructions.
            {% endblocktrans %}
            {% trans "Back to " %}<a href="{% url 'home:index' %}">{% trans "MENU_HOME" %}</a>
        </p>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
