{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static crispy_forms_tags crispy_forms_field %}

{% block content %}
<section id="content">
    <div class="row">
        <div class="members">
            <h3>{% trans "EDIT_PROFILE_HEADING" %}</h3>
            <div class="separator"></div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li
                    class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}form_errors{% else %}form_messages{% endif %}">
                    {{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form role="form" class="form-validate well" action="" method="post" novalidate>
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-2 mb-0">
                        {{ profile_form.title|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8 mb-0">
                        <div class="form-group">
                            <label class="col-form-label">2 FA Code</label>
                            <span class="helptext">
                                {% blocktrans %}
                                Settings for One-Time-Password can be changed using
                                <a href="../otp/">this form</a>.
                                {% endblocktrans %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8 mb-0">
                        {{ profile_form.company_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8 mb-0">
                        {{ profile_form.address|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ profile_form.zipcode|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-5 mb-0">
                        {{ profile_form.location|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ profile_form.website|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 mb-0">
                        <div id="div_{{ profile_form.mobile.id_for_label }}" class="form-group">
                            <label class="col-form-label"
                                for="{{ profile_form.mobile.id_for_label }}">{{ profile_form.mobile.label }}</label>
                            <div class="form-inline">
                                {% if profile_form.mobile.errors %}
                                {% crispy_field profile_form.mobile 'class' 'form-control col-md-3 mr-2 is-invalid' %}
                                {% else %}
                                {% crispy_field profile_form.mobile 'class' 'form-control col-md-3 mr-2' %}
                                {% endif %}
                            </div>
                            {% if profile_form.mobile.errors %}
                            {% for error in profile_form.mobile.errors %}
                            <span id="error_{{ forloop.counter }}_{{ profile_form.mobile.id_for_label }}"
                                class="invalid-feedback" style="display:block">
                                <strong>{{ error }}</strong>
                            </span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 mb-0">
                        <div id="div_{{ profile_form.phone.id_for_label }}" class="form-group">
                            <label class="col-form-label"
                                for="{{ profile_form.phone.id_for_label }}">{{ profile_form.phone.label }}</label>
                            <div class="form-inline">
                                {% if profile_form.phone.errors %}
                                {% crispy_field profile_form.phone 'class' 'form-control col-md-3 mr-2 is-invalid' %}
                                {% else %}
                                {% crispy_field profile_form.phone 'class' 'form-control col-md-3 mr-2' %}
                                {% endif %}
                            </div>
                            {% if profile_form.phone.errors %}
                            {% for error in profile_form.phone.errors %}
                            <span id="error_{{ forloop.counter }}_{{ profile_form.phone.id_for_label }}"
                                class="invalid-feedback" style="display:block">
                                <strong>{{ error }}</strong>
                            </span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 mb-0">
                        <div id="div_{{ profile_form.fax.id_for_label }}" class="form-group">
                            <label class="col-form-label"
                                for="{{ profile_form.fax.id_for_label }}">{{ profile_form.fax.label }}</label>
                            <div class="form-inline">
                                {% if profile_form.fax.errors %}
                                {% crispy_field profile_form.fax 'class' 'form-control col-md-3 mr-2 is-invalid' %}
                                {% else %}
                                {% crispy_field profile_form.fax 'class' 'form-control col-md-3 mr-2' %}
                                {% endif %}
                            </div>
                            {% if profile_form.fax.errors %}
                            {% for error in profile_form.fax.errors %}
                            <span id="error_{{ forloop.counter }}_{{ profile_form.fax.id_for_label }}"
                                class="invalid-feedback" style="display:block">
                                <strong>{{ error }}</strong>
                            </span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4 mb-0">
                        {{ profile_form.preferred_contact|as_crispy_field }}
                    </div>
                </div>

                <button class="btn btn-dark" type="submit">{% trans "EDIT_PROFILE_SUBMIT" %}</button>
                <a href="{% url 'members:profile' %}" class="btn btn-secondary">{% trans "EDIT_PROFILE_CANCEL" %}</a>
            </form>
        </div>
    </div>
</section>

{% endblock %}
