{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}

{% load i18n static crispy_forms_tags %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "RST_PASSWD_HEADING" %}</h3>
        <div class="separator"></div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li
                class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}form_errors{% else %}form_messages{% endif %}">
                {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form role="form" class="form-validate well" action="" method="post" novalidate>
            {% csrf_token %} {{ form|crispy }}
            <button class="btn btn-dark" type="submit">{% trans "RST_PASSWD_SUBMIT" %}</button>
        </form>
    </div>
</section>
{% endblock %}
