{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "RST_COMPLETE_PASSWD_HEADING" %}</h3>
        <div class="separator"></div>
        <p>
            {% url 'members:login' as the_url %}
            {% blocktrans %}
            Your password has been set. You may go ahead and
            <a href="{{ the_url }}">login</a>now.
            {% endblocktrans %}
        </p>
    </div>
</section>
{% endblock %}
