{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="members">
        <h3>{% trans "PROFILE_HEADING" %}</h3>
        <div class="separator"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#account" role="tab">{% trans "Account" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#security" role="tab">{% trans "Security" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'members:logout' %}">{% trans "Log out" %}</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="account" role="tabpanel">
                <div class="separator"></div>
                <p>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "Title" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.title %}
                            {{ profile.title }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "First name" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if user.first_name %}
                            {{ user.first_name }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "Last name" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if user.last_name %}
                            {{ user.last_name }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-0 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "Username" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {{ user }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "company_name_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.company_name %}
                            {{ profile.company_name }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "address_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.address %}
                            {{ profile.address }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "zipcode_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.zipcode %}
                            {{ profile.zipcode }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "location_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.location %}
                            {{ profile.location }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "email_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if user.email %}
                            {{ user.email }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "website_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.website %}
                            {{ profile.website }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "mobile_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.mobile %}
                            {{ profile.mobile.as_international }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "phone_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.phone %}
                            {{ profile.phone.as_international }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "fax_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.fax %}
                            {{ profile.fax.as_international }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "preffered_contact_field" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4">
                            {% if profile.get_preferred_contact_display %}
                            {{ profile.get_preferred_contact_display }}
                            {% else %}
                            {% trans "None" %}
                            {% endif %}
                        </div>
                    </div>
                </p>
                <div class="separator"></div>
                <a href="{% url 'members:edit_profile' %}" class="btn btn-dark">{% trans "PROFILE_EDIT" %}</a>
            </div>
            <div class="tab-pane" id="security" role="tabpanel">
                <div class="separator"></div>
                <p>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "Password" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-9 col-md-10">
                            {% url 'members:change_password' as the_url %}
                            {% blocktrans %}
                            Raw passwords are not stored, so there is no way to see this
                            user`s password, but you can change the password using
                            <a href="{{ the_url }}">this form</a>.
                            {% endblocktrans %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2 left-label">
                            <strong>{% trans "2 FA Code" %}:</strong>
                        </div>
                        <div class="col-xs-6 col-sm-9 col-md-10">
                            <span class="{{ otp_enabled }}" />
                            &nbsp;
                            <a href="{% url 'members:change_otp' %}">{% trans "PROFILE_CHG_OTP" %}</a>
                        </div>
                    </div>
                </p>
                <div class="separator"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
